@import url('../../global/variables.css');

:host {
  font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 1.1rem;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.anilist-container {
  padding: 10px;
  max-width: 425px;
  background: rgb(var(--color-foreground));
  color: rgb(var(--color-text-light));
  border-radius: 4px;
}

.anilist-item {
  margin: 10px;
  padding: 10px;
  background: rgb(var(--color-background-blue-dark));
  border-radius: 4px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding-top: 4px;
  }
}

.user-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: stretch;
  
  img {
    border-radius: 50%;
    margin-bottom: 25px;
    max-width: 125px;
    height: auto;
  }
  a {
    color: rgb(var(--color-text-light));
    text-decoration: none;
    &:hover {
      color: rgb(var(--color-orange));
    }
    img {
      max-width: 20px;
      padding-right: 8px;
      float: left;
    }
  }
  figcaption {
    text-align: center;
    font-size: 1.1rem;
  }
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  font-size: 0.70rem;
  
  .stat-label {
    text-align: center;
    padding: 0px 0px 6px 0px;
    font-weight: bold;
    text-decoration: underline;
  }
  li {
    text-align: left;
    span {
      float: right;
    }
    .stat {
      color: rgb(var(--color-orange));
      padding-left: 12px;
    }
  }
}
